<% include partials/header %>

<!-- ================================================= -->
<!-- VANT + NAVBAR -->
<!-- ================================================= -->
<div id="vant-background">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">INSIA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navspace collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> INSIA <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> INDUSTRIES </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> FUNCTIONS </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> ABOUT US </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> REQUEST DEMO </a>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="container">
        <div class="row vant-heading">
            <div class="col-8">
                <span> INSIA - INSIGHTS FOR ALL </span>
            </div>
        </div>
        <div class="row vant-subtitle">
            <div class="col-8">
                <span id="vant-subtitle"> A search based business intelligence platform.
                </span>
            </div>
        </div>

        <div class="row vant-features">
            <div class="col-8">
                <span class="vant-feature"> Analyze data by talking to it in natural language.
                    Increase Analytics Adoption across the organization.
                    Continuous platform evolution through two way-learning.
                </span>
            </div>
        </div>

    </div>

</div>

<!-- ================================================= -->
<!-- WHY INSIA -->
<!-- ================================================= -->

<div id="whyinsia">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 id="why-heading"> Why INSIA? </h1>
            </div>
        </div>

        <div class="features" class="row">
            <div class="col-12">
                <h1 class="why-feature-1"> INSIA assists you in asking the right questions. </h1>
                <div id="feature1-box1" class="row justify-content-around">
                    <div class="col-4">
                        <img class="featureimages" src="/images/metrics.png">
                        <p class="featuresubtext"> <strong> Recommends </strong> relevant metrics on the basis of your
                            role & geography.
                        </p>
                    </div>
                    <div class="col-4">
                        <img class="featureimages" src="/images/thought.png">
                        <p class="featuresubtext"> Uses <strong> deep domain knowledge </strong> from your industry &
                            department.
                        </p>
                    </div>
                    <div class="col-4">
                        <img class="featureimages" src="/images/learning.png">
                        <p class="featuresubtext"> <strong> Learns </strong> what you are asking and assists you
                            with similar measures & dimensions.
                        </p>
                    </div>
                </div>
                <div id="feature1-box2"> </div>
            </div>
        </div>

        <div class="features" class="row">
            <div class="col-12">

                <div id="feature2-img1">
                    <img src="/images/alerts.png">
                </div>

                <div id="feature2-img2">
                    <img src="/images/add.png">
                </div>

                <div id="feature2-img3">
                    <img src="/images/warning.png">
                </div>

                <div id="feature2-box2">
                    <div class="container">
                        <h1 id="feature2-heading" class="why-feature-1"> INSIA watches out for Performance Deviations.
                        </h1>
                        <p class="featuresubtext feature2-subtext"> <strong> Alerts </strong> you when your predefined
                            threshold is
                            crossed.
                        </p>

                        <p class="featuresubtext feature2-subtext"> <strong> Auto-Creates </strong> alerts that you
                            always wanted but never asked
                            for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="whyinsia2"></div>

<div id="whyinsia3">
    <div id="feature3container" class="container">
        <div class="row">
            <span id="feature3"> Insia helps you in assisted search.
            </span>
            <div class="container">
                <div id="feature3-box1" class="row justify-content-around">
                </div>
            </div>
        </div>
        <div class="row my-5">
            <span id="feature3"> Insia lets you talk to your data and get instant results.
            </span>
            <div class="container">
                <div id="feature3-box2" class="row justify-content-around">
                </div>
            </div>
        </div>
        <div id="feature3-box3"> </div>
    </div>
</div>

<div id="featuredemonstration">
    <div class="container">

        <div class="featureheader d-flex">
            <h1 id="featureheading"> FEATURES</h1>
        </div>

        <div class="accordion feature" id="accordionExample">
            <div class="card card-style">
                <div class="card-header" id="rbac">
                    <h2 class="mb-0">
                        <button class="btn btn-light featurename text-left" type="button" data-toggle="collapse"
                            data-target="#rbaccontent" aria-expanded="true" aria-controls="collapseOne">
                            RBAC
                        </button>
                    </h2>
                </div>

                <div id="rbaccontent" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body featurecontent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card card-style">
                <div class="card-header" id="datastories">
                    <h2 class="mb-0">
                        <button class="btn btn-light featurename text-left" type="button" data-toggle="collapse"
                            data-target="#datastoriescontent" aria-expanded="true" aria-controls="collapseOne">
                            Data Stories
                        </button>
                    </h2>
                </div>

                <div id="datastoriescontent" class="collapse" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body featurecontent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card card-style">
                <div class="card-header" id="redflags">
                    <h2 class="mb-0">
                        <button class="btn btn-light featurename text-left" type="button" data-toggle="collapse"
                            data-target="#redflagscontent" aria-expanded="true" aria-controls="collapseOne">
                            Red Flags
                        </button>
                    </h2>
                </div>

                <div id="redflagscontent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body featurecontent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card card-style">
                <div class="card-header" id="chartdrilldown">
                    <h2 class="mb-0">
                        <button class="btn btn-light featurename text-left" type="button" data-toggle="collapse"
                            data-target="#chartdrilldowncontent" aria-expanded="true" aria-controls="collapseOne">
                            Chart Drill Down
                        </button>
                    </h2>
                </div>

                <div id="chartdrilldowncontent" class="collapse" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body featurecontent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card card-style">
                <div class="card-header" id="deepdive">
                    <h2 class="mb-0">
                        <button class="btn btn-light featurename text-left" type="button" data-toggle="collapse"
                            data-target="#deepdivecontent" aria-expanded="true" aria-controls="collapseOne">
                            Deep Dive
                        </button>
                    </h2>
                </div>

                <div id="deepdivecontent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body featurecontent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card card-style">
                <div class="card-header" id="searchrecommendations">
                    <h2 class="mb-0">
                        <button class="btn btn-light featurename text-left" type="button" data-toggle="collapse"
                            data-target="#searchrecommendationscontent" aria-expanded="true" aria-controls="collapseOne">
                            Search Recommendations Content
                        </button>
                    </h2>
                </div>

                <div id="searchrecommendationscontent" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body featurecontent">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>


        </div>
        
    </div>
</div>


<% include partials/footer %>