<% include partials/header %>

<!-- ================================================= -->
<!-- NAVBAR -->
<!-- ================================================= -->
<div id="example">
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">INSIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navspace collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> INSIA <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> INDUSTRIES </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> FUNCTIONS </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> ABOUT US </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> REQUEST DEMO </a>
                </li>
            </ul>
        </div>
</nav>

</div>

<!-- ================================================= -->
<!-- HERO IMAGE -->
<!-- ================================================= -->

<% include partials/footer %>