<% include partials/header %>

<!-- ================================================= -->
<!-- VANT + NAVBAR -->
<!-- ================================================= -->

<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img id="insialogo" src="images/insialogo.png"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navspace collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> INSIA <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> INDUSTRIES </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> FUNCTIONS </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> ABOUT US </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> REQUEST DEMO </a>
                </li>
            </ul>
        </div>
</nav>

<div id="vant-background">

    <div class="container">
        <div class="row">
            <div class="col-6 p-0">
                <div class="row vant-heading">
                    <span> INSIA - INSIGHTS FOR ALL </span>
                </div>
                <div class="row vant-subtitle">
                    <span id="vant-subtitle"> A search based business intelligence platform.
                    </span>
                </div>

                <div class="row vant-features">
                    <span class="vant-feature typed"> Analyze data by talking to it in natural language.
                        Increase Analytics Adoption across the organization.
                        Continuous platform evolution through two way-learning.
                    </span>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5 d-flex align-items-center justify-content-center headimage p-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="laptop-wrapper">
                                <video height="315" width="560" poster="/images/search.png" playsinline autoplay muted
                                    loop>
                                    <source src="videos/search.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- ================================================= -->
<!-- WHY INSIA -->
<!-- ================================================= -->

<div id="whyinsia">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 id="why-heading"> Why INSIA? </h1>
            </div>
        </div>

        <div class="features" class="row">
            <div class="col-12">
                <h1 class="why-feature-1"> INSIA assists you in asking the right questions. </h1>
                <div id="feature1-box1" class="row justify-content-around">
                    <div class="col-4">
                        <img class="featureimages" src="/images/metrics.png">
                        <p class="featuresubtext"> <strong> Increases </strong>Analytics Adoption across the length and
                            breadth
                            of the organization.
                        </p>
                    </div>
                    <div class="col-4">
                        <img class="featureimages" src="/images/thought.png">
                        <p class="featuresubtext"> <strong> Two way learning </strong> ensures that the platform keeps
                            evolving with you.
                        </p>
                    </div>
                    <div class="col-4">
                        <img class="featureimages" src="/images/learning.png">
                        <p class="featuresubtext"> <strong> Super fast </strong> rendering of charts and data points
                            ensures you get what
                            you want in no time.
                        </p>
                    </div>
                </div>
                <div id="feature1-box2"> </div>
            </div>
        </div>

        <div class="features" class="row">
            <div class="col-12">

                <div id="feature2-asimg1" class="row justify-content-around">
                    <video height="500" width="1200" poster="/images/assistedsearch.png" playsinline autoplay muted
                        loop>
                        <source src="videos/assistedsearch.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>


                <!-- <div id="feature2-img1">
                    <img src="/images/alerts.png">
                </div>

                <div id="feature2-img2">
                    <img src="/images/add.png">
                </div>

                <div id="feature2-img3">
                    <img src="/images/warning.png">
                </div> -->

                <div id="feature2-box2">
                    <div class="container">
                        <h1 id="feature2-heading" class="why-feature-1"> INSIA assists you in asking the right
                            questions.
                        </h1>
                        <p class="featuresubtext feature2-subtext"> <strong> Recommends </strong> relevant metrics
                            on the basis your role & geography.
                        </p>

                        <p class="featuresubtext feature2-subtext"> Uses <strong> deep domain knowledge </strong> from
                            your industry &
                            department.
                        </p>

                        <p class="featuresubtext feature2-subtext"> <strong> Learns </strong> what is searched and
                            continuously improves
                            its recommendations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="whyinsia2"></div>

<!-- <div id="whyinsia3">
    <div id="feature3container" class="container">
        <div class="row">
            <span id="feature3"> Talk to your data and get instant results.
            </span>
            <div class="container">
                <div id="feature3-box1" class="row justify-content-around">
                    <video height="400" width="1000" poster="/images/assistedsearch.png" autoplay="autoplay" loop>
                        <source src="videos/assistedsearch.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div> -->
<!-- <div class="row my-5">
            <span id="feature3"> Insia lets you talk to your data and get instant results.
            </span>
            <div class="container">
                <div id="feature3-box2" class="row justify-content-around">
                </div>
            </div>
        </div> -->
<!-- <div id="feature3-box3"> </div>
    </div>
</div> -->

<div id="featuredemonstration">
    <div class="container">

        <div class="featureheader d-flex">
            <h1 id="featureheading"> FEATURES</h1>
        </div>

        <head>
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
        </head>

        <div class="featurecardcontainer d-flex row">
            <div class="card featurecard">
                <div class="row">
                    <h3 class="title">Build your own Datastories
                    </h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                </div>

                <div class="featurecardcontent row">
                    <img src="images/datastories.png">
                    <br>
                    <p class="mt-3"> Create your own reports as and when you want. Utilize Industry Standard Datastories
                        for faster
                        turn around. Share your Datastories on a touch of a button. </p>
                </div>
            </div>
            <div class="card featurecard">
                <div class="row">
                    <h3 class="title">With Insia, COTS is Custom off the Shelf
                    </h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                </div>

                <div class="featurecardcontent row">
                    <img src="images/chart.png">
                    <br>
                    <p class="mt-3"> Change elements of the output chart with Insia self service ChartXtra.
                        Drilldown to the lowest grain whenever and wherever you want.
                    </p>
                </div>
            </div>
        </div>

        <div class="featurecardcontainer2 d-flex row">
            <!-- <div class="card featurecard">
                <div class="row">
                    <h3 class="title">Seek reasons by Deep Diving with AI
                    </h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                </div>

                <div class="featurecardcontent row">
                    <img src="images/datastories.png">
                    <br>
                    <p class="mt-3">Unearth rationale for any event that data throws at you.
                        See all possible logical explanation in a moments notice. Get better results with each deep dive
                        as Insia learns from your feedback.
                    </p>
                </div>
            </div> -->
            <div class="card featurecard">
                <div class="row">
                    <h3 class="title">Watches out for Performance deviations
                    </h3>
                    <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                    </div>
                </div>

                <div class="featurecardcontent row">
                    <img src="images/redflags.png">
                    <br>
                    <p class="mt-3">Alerts you when your predefined threshold is crossed.
                        Auto create alerts that you always wanted but never asked.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<div id="industries">
    <div id="industriescontainer" class="container">
        <div id="industries-line"></div>

        <div class="container">

            <div class="industryheader d-flex">
                <h1 id="industryheading"> INDUSTRIES </h1>
            </div>

            <div id="industries-box" class="row justify-content-around">
                <div class="col-4">
                    <figure id="industryhover" class="imghvr-fade mt-4 ml-2">
                        <img class="industryimages" src="/images/retail.jpg">
                        <figcaption id="industrytext">
                            <p> In Retailing, increasing customer sales and footfall through instore & digital campaigns
                                and reducing cost through efficient procurement are two sides of the same coin.
                            </p>
                        </figcaption>
                    </figure>

                    <p class="industrysubtext d-flex justify-content-center"> <strong> Retail </strong>
                </div>
                <div class="col-4">
                    <figure id="industryhover" class="imghvr-fade mt-4 ml-2">
                        <img class="industryimages" src="/images/cpg.jpg">
                        <figcaption id="industrytext">
                            <p> With customer switching cost almost zero, knowing what your customer demands, perceives
                                and consumes is indispensable for Brand & Category Managers. Get it on your fingertips
                                with Insia.
                            </p>
                        </figcaption>
                    </figure>
                    <p class="industrysubtext d-flex justify-content-center"> <strong> CPG </strong>
                    </p>
                </div>
                <div class="col-4">
                    <figure id="industryhover" class="imghvr-fade mt-4 ml-2">
                        <img class="industryimages" src="/images/pharma.jpg">
                        <figcaption id="industrytext">
                            <p> When your brand purchase is driven by multiple factors outside your control, keeping
                                track of them is paramount. With Insia, knowing your category sales, brand performance
                                at a country level!
                        </figcaption>
                    </figure>
                    <p class="industrysubtext d-flex justify-content-center"> <strong> Pharmaceutical </strong>
                    </p>
                </div>
            </div>

            <div id="industries-line2"></div>

        </div>
    </div>
</div>

<div id="steps">
    <div class="container">
        <div class="stepsheader d-flex">
            <h1 id="stepsheading"> STEPS </h1>
        </div>
        <main>
            <p class="step">
                Inject your enterprise data assisted by us onto our platform in any format. Our data engineers would
                help structure your data to seamlessly work with our platform.
            </p>
            <p class="step">Setup platform users and access controls for each role, and a workflow for database updates
                with time.</p>
            <p class="step endstep">You're good to go. Get searching! </p>
        </main>
    </div>

</div>

<!-- <div id="pricing">
    <div class="container">
        <div class="stepsheader d-flex">
            <h1 id="pricingheading">PRICING </h1>
        </div>
    </div>

    <section class="pricing py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited
                                    Private Projects</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated
                                    Phone Support</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free
                                    Subdomain</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                                    Status Reports</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                            <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                                    Status Reports</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                            <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited
                                        Users</strong></li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects
                                </li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong>
                                    Free Subdomains</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->

<!-- <div id="comingsoon" class="d-flex flex-row justify-content-center align-items-center">

    <div class="d-flex flex-column justify-content-center align-items-center m-5 p-5 highlight">
        <div class="row">
            <h1 id="comingsoonheading"> COMING SOON: DQL </h1>
        </div>

        <div class="row">
            <p id="comingsoon-subtitle"> <button class="btn btn-outline-dark"> SUBSCRIBE </button> FOR MORE UPDATES </p>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center m-5 p-5 highlight">
        <div class="row">
            <h1 id="comingsoonheading"> INSIGHTS AT THE SPEED OF THOUGHT </h1>
        </div>

        <div class="row">
            <p id="requestdemo-subtitle"> <button class="btn btn-outline-dark"> REQUEST DEMO </button> </p>
        </div>
    </div>

</div> -->

<div id="functions" class="d-flex flex-column justify-content-start align-items-center">

    <div class="row mt-5">
        <h1 id="functionsheading"> FUNCTIONS </h1>
    </div>

    <div class="row container functionsrow">
        <div class="card functionscard align-items-center">
            <img src="images/functions1.png" class="card-img-top my-2" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <h3> Sourcing & Procurement
                    </h3> Knowing how finance shop is performing is imperative for any
                    organization success.
                    Track your spend, receivable, contracts and vendors instantly with Insia.
                </p>
            </div>
        </div>

        <div class="card functionscard align-items-center">
            <img src="images/functions2.png" class="card-img-top my-2" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <h3> Receivables & Collections
                    </h3> Tracking your receivables and maintaining healthy cashflow is indispensable for any
                    organization. Keeping tap on customer delinquency is equally important for timely interventions.
                    With Insia, be always on top of your $.
                </p>
            </div>
        </div>
        <!-- </div> -->

        <!-- <div class="row container functionsrow"> -->
        <div class="card functionscard align-items-center">
            <img src="images/functions3.png" class="card-img-top my-2" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <h3> Marketing
                    </h3> Marketing function looks for immediate measurement of their campaigns to evaluate
                    effectiveness and do course correction. With Insia, get all relevant insights on your fingertips.
                </p>
            </div>
        </div>

        <div class="card functionscard align-items-center">
            <img src="images/functions4.png" class="card-img-top my-2" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <h3> Sales
                    </h3> Sales is what drives businesses. Tracking your customers, distributors, revenue, margins and
                    more keeps businesses on track to future goals. Insia is there to help.
                </p>
            </div>
        </div>
    </div>


</div>

<div id="requestdemo" class="d-flex flex-column justify-content-center align-items-center">

    <div class="row">
        <h1 id="requestdemoheading"> INSIGHTS AT THE SPEED OF THOUGHT </h1>
    </div>

    <div class="row">
        <p id="requestdemo-subtitle"> <button type="button" class="btn btn-outline-light" data-toggle="modal"
                data-target="#requestdemomodal"> REQUEST DEMO</button> </p>
    </div>

    <div class="modal fade" id="requestdemomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Request Demo </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/requestdemo" id="requestdemoform" method="POST" onSubmit="$('.modal').modal('toggle');
                         setTimeout(function(){
                             alert('Your request has been registered with us.');
                        }, 500);">
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="Enter First Name"
                                name="firstname" required>
                        </div>

                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name"
                                name="lastname" required>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
                                name="email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" id="company" placeholder="Company" name="company"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="workphone">Work Phone</label>
                            <input type="text" class="form-control" id="workphone" placeholder="Work Phone"
                                name="workphone" required>
                        </div>

                        <div class="form-group">
                            <label for="jobrole">Job Role</label>
                            <input type="text" class="form-control" id="jobrole" placeholder="Job Role" name="jobrole"
                                required>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" name="btnSubmit" id="requestdemosubmit"
                                class="btn btn-outline-dark">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="pt-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h4 class="mt-lg-0 mt-sm-4">Forty4Hz</h4>
                <img id="insialogofooter" src="images/insialogo.png">
                <!-- <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac
                    ante mollis quam tristique convallis </p> -->
                <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i
                            class="fa fa-linkedin-square"></i></a></p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Callback</h4>
                <ul class="m-0 p-0">
                    <form action="/callback" id="callbackform" method="POST" onSubmit="
                        setTimeout(function(){
                            alert('Your request has been registered with us.');
                       }, 500);
                       document.getElementById('callbackform').reset();">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="number">Contact Number</label>
                            <input type="text" class="form-control" id="number" name="number"
                                placeholder="Enter Contact Number">
                        </div>
                        <button class="btn btn-outline-light">PRESS FOR CALLBACK </button>
                    </form>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                <p>Sumadhura Silver Ripples
                    SSR Complex
                    Borewell Road
                    Whitefield
                    Bangalore - 560066
                </p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i> Mobile Number: +91 – 9686682118</p>
                <p><i class="fa fa-envelope-o mr-3"></i>E-Mail: hello@forty4hz.com
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2019. All Rights Reserved. Aramse Technologies, Pvt.
                        Ltd.</small></p>
            </div>
        </div>
    </div>
</div>



<% include partials/footer %>